# copy this file to .env and customize for your environment

# in case you like a different password
PING_IDENTITY_PASSWORD=2AuthorizeM0re

# if you are using docker-machine then you will need to change all of these localhost defaults

# the names you'll use in the browser
# PAZ_ENGINE_PUBLIC_HOSTNAME=localhost
# PAZP_ENGINE_PUBLIC_HOSTNAME=localhost
# PD_ENGINE_PUBLIC_HOSTNAME=localhost
# PF_ENGINE_PUBLIC_HOSTNAME=localhost

# The demo SPA URL
# you will need to change this if you use docker-machine
#
# HEALTH_PORTAL_PUBLIC_BASE_URL=https://localhost:58443

# your browser gets to the FHIR API via PingAuthorize
# you will need to change this if you use docker-machine
#
# FHIR_PROXIED_PUBLIC_BASE_URL=https://localhost:28443

# Privacy Dashboard works with either the bundled PingFederate or your PingOne
# as long as P1 has a user(s) who match PingDirectory users by email address
#
# the name you'll use in the browser
# OAUTH2_PUBLIC_AUTHORIZATION_URL=https://localhost:9031/as/authorization.oauth2

# these must be reachable from the containers
# OAUTH2_SERVER_BASE_URL=https://pingfederate:9031
# OAUTH2_JWKS_URL=https://pingfederate:9031/ext/oauth_jwks

# also set this when using your own PingOne environment
# PRIVACY_DASHBOARD_CLIENT_ID=

# if you want to change the family that shows in the health portal app
# HEALTH_PORTAL_FAMILY=argonaut
# HEALTH_PORTAL_FAMILY=breakfast

# If you want to change up the ports:
#
# PF_ADMIN_PORT=9999
# PF_ENGINE_PORT=9031
# PD_LDAP_PORT=11389
# PD_LDAPS_PORT=11636
# PD_HTTP_PORT=18000
# PD_HTTPS_PORT=18443
# PAZ_HTTP_PORT=28000
# PAZ_HTTPS_PORT=28443
# PAZP_HTTPS_PORT=38443
# HEALTH_PORTAL_HTTP_PORT=58000
# HEALTH_PORTAL_HTTPS_PORT=58443
#
